<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="email_stmp" value="smtp.****.com"/>
    <add key="send_user_email" value="****@****"/>
    <add key="send_user_pass" value="********"/>
    <add key="send_user_disp" value="发件人昵称" />
  </appSettings>
</configuration>